---
layout: default 
title: Classes
banner:
  background-position: bg-center
  banner-height: min-h-90
  text-position: items-center
  text-color: text-white
  banner-image: "/yoga-studio-images/yoga-studio (3).jpg"
  small-heading: 
  heading: Our Classes
seo: 
  title: The Yoga Studio Classes 
  description: 
  keywords: 
  social_image: 
  hide-from-google: false
---

<!--------- This is the header banner  ---------------->
{% include quarter-banner.html %}

<!--------- This is the header banner  ---------------->
<section class="p-5p"> 
{% include class-cards.html %}
</section>