---
layout: default 
title: Schedule
banner:
  background-position: bg-center
  banner-height: min-h-90
  text-position: items-center
  text-color: text-white
  banner-image: https://placekitten.com/900/600
  small-heading: 
  heading: Get in touch
seo: 
  title: The Yoga Studio contact
  description: 
  keywords: 
  social_image: 
  hide-from-google: false
---

<!--------- This is the header banner  ---------------->
{% include quarter-banner.html %}

<!--------- This is the schedule  ----------------> 
<section class="p-5p">
{% include contact.html %}
</section>