---
layout: default 
title: The Yoga Studio
banner:
  banner-image: "/yoga-studio-images/yoga-studio (1).jpg"
  small-heading: Welcome to
  heading: The yoga studio
image_text:
  heading: Duis Aute Irure
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores rem quasi eum quaerat architecto quos asperiores nostrum sequi, facere possimus blanditiis minima laborum nesciunt vitae magni culpa, eos ducimus. Ipsam?
  button_text: sign up
  button_url: "#"
  image: "/yoga-studio-images/yoga-studio (2).jpg"
  image_focus: center 20%
image_grid:
  heading: Duis Aute Irure
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores rem quasi eum quaerat architecto quos asperiores nostrum sequi, facere possimus blanditiis minima laborum nesciunt vitae magni culpa, eos ducimus. Ipsam?
  button_text: find out more
  button_url: "/classes"
  image: "/yoga-studio-images/yoga-studio (3).jpg"
  image_focus: center 40%
seo: 
  title: The Yoga Studio in Canguu, Bali
  description: 
  keywords: 
  social_image: 
  hide-from-google: false
---

<!--------- This is the header banner  ---------------->
{% include full-banner.html %}


<section>
    {% include image-text.html %}  
<section>

    {% include image-grid.html %}  
</section>

<section>
    {% include teachers.html %}  
</section>

