<div class="grid grid-cols-2">
    <div class="col-span-1">
        <h2> Duis Aute Irure </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus molestias recusandae at iusto hic rerum. Qui dolore harum amet eligendi tempore, in ab, vel praesentium rem mollitia modi blanditiis accusantium! </p>
        <a href="/" class="button"> Sign Up </a>
    </div>
    <div class="col-span-1 bg-cover min-h-60" style="background-image: url('{{page.feature-image-1}}')"> </div>
</div>