<div class="grid sm:grid-cols-2 sm:min-h-80">
    <div class="bg-image grid items-end" style="background-position: {{page.image_grid.image_focus}}; background-image: url('{{page.image_grid.image}}')"> 
        <div class="px-10p py-20 max-w-xl"> 
            <h2> {{ page.image_grid.heading }} </h2>
            <p> {{ page.image_grid.description }} </p>
            <a href="{{ page.image_text.button_url }} " class="button"> {{ page.image_grid.button_text }} </a>
        </div>
    </div>
    <div class="col-span-1 p-5p">
        {% for class in site.classes %}
        <div class="grid-cols-2">
            <div> 
                <h2> {{ class.title }} </h2>
                <p> {{ class.description }} </p>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>